tarefa04/cardapio.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:c="http://cardapio.org"
           targetNamespace="http://cardapio.org"
           elementFormDefault="qualified">

    <xs:simpleType name="precos">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Ingredientes">
        <xs:sequence>
            <xs:element name="ingrediente" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoPrato">
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="descricao" type="xs:string"/>
            <xs:element name="ingredientes" type="c:Ingredientes"/>
            <xs:element name="preco" type="c:precos"/>
            <xs:element name="calorias" type="xs:integer"/>
            <xs:element name="tempoPreparo" type="xs:string"/>
        </xs:sequence>

        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:element name="cardapio">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prato" type="c:tipoPrato" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>